.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
.flag-icon:before {
    content: "\00a0";
}
.flag-icon.flag-icon-squared {
    width: 1em;
}
.flag-icon-en {
    background-image: url(../../img/flags/en.svg);
}
.flag-icon-en.flag-icon-squared {
    background-image: url(../../img/flags/en.svg);
}
.flag-icon-ru {
    background-image: url(../../img/flags/ru.svg);
}
.flag-icon-ru.flag-icon-squared {
    background-image: url(../../img/flags/ru.svg);
}
.flag-icon-uz {
    background-image: url(../../img/flags/uz.svg);
}
.flag-icon-uz.flag-icon-squared {
    background-image: url(../../img/flags/uz.svg);
}
.flag-icon-de {
    background-image: url(../../img/flags/de.svg);
}
.flag-icon-de.flag-icon-squared {
    background-image: url(../../img/flags/de.svg);
}